<h1 id="title">Weather Widget</h1>
<div class="filters">
    <label for="citySelect">Select City:</label>
    <!-- <select id="citySelect" [(ngModel)]="selectedCity" (change)="onCityChange()" name="selectedCity">
      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
    </select> -->
    <button (click)="loadWeatherAPIService('Provo')">Provo</button>
    <button (click)="loadWeatherAPIService('Kearns')">Kearns</button>
    <button (click)="loadWeatherAPIService('Salt Lake City')">Salt Lake City</button>
    <button (click)="loadWeatherAPIService('Park City')">Park City</button>


</div>

<app-forecast [weatherData]="weather"></app-forecast>
